In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("Spam email.xlsx")

In [3]:
df.head()

  Category                                            Message
0      ham  &lt;#&gt; %of pple marry with their lovers... ...
1      ham   &lt;#&gt; , that's all? Guess that's easy enough
2      ham  &lt;#&gt; is fast approaching. So, Wish u a ve...
3      ham  (And my man carlos is definitely coming by mu ...
4      ham  (I should add that I don't really care and if ...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
df["Category"].replace({"ham" : 0, "spam" : 1}, inplace =True)

In [6]:
df.sample(5)

      Category                                            Message
2638         0  I'll be in sch fr 4-6... I dun haf da book in ...
2965         0             Kent vale lor... š wait 4 me there ar?
2810         0  Its hard to believe things like this. All can ...
5374         1  Send a logo 2 ur lover - 2 names joined by a h...
5010         1  Urgent UR awarded a complimentary trip to Euro...

In [7]:
df["Message"] = df["Message"].apply(lambda x: str(x))

In [8]:
df.head()

   Category                                            Message
0         0  &lt;#&gt; %of pple marry with their lovers... ...
1         0   &lt;#&gt; , that's all? Guess that's easy enough
2         0  &lt;#&gt; is fast approaching. So, Wish u a ve...
3         0  (And my man carlos is definitely coming by mu ...
4         0  (I should add that I don't really care and if ...

In [9]:
X = df["Message"]
y = df["Category"]

In [10]:
X.head()

0    &lt;#&gt; %of pple marry with their lovers... ...
1     &lt;#&gt; , that's all? Guess that's easy enough
2    &lt;#&gt; is fast approaching. So, Wish u a ve...
3    (And my man carlos is definitely coming by mu ...
4    (I should add that I don't really care and if ...
Name: Message, dtype: object

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Category, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [14]:
X_train.shape

(4457,)

In [15]:
X_test.shape

(1115,)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
vector = CountVectorizer()

In [18]:
X_train_cv = vector.fit_transform(X_train)

In [19]:
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
X_train_cv.shape

(4457, 7768)

In [21]:
X_test_cv = vector.transform(X_test)

In [22]:
X_test_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [23]:
X_test_cv.shape

(1115, 7768)

In [24]:
from sklearn.naive_bayes import BernoulliNB

In [25]:
berno = BernoulliNB()

In [26]:
berno.fit(X_train_cv, y_train)

BernoulliNB()

In [27]:
berno.score(X_test_cv, y_test)

0.979372197309417

In [28]:
from sklearn.naive_bayes import MultinomialNB

In [29]:
multi = MultinomialNB()

In [30]:
multi.fit(X_train_cv, y_train)

MultinomialNB()

In [31]:
multi.score(X_test_cv, y_test)

0.9847533632286996